/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*
  -----------------------
       base styles
  -----------------------
*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  font-size: 1.5em;
}

pl-leaderboard {
  font-family: 'Overpass', sans-serif;
  color: #e7f9fb;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}


/*
  -----------------------
     position elements
  -----------------------
*/

pl-leaderboard h1.leaders-header {
  text-align: center;
  margin: 2.5vh auto 1vh;
  width: 100%;
  line-height: 1.1em;
  word-wrap: normal;
}

pl-leaderboard h1.leaders-header:before {
  content:url('../../engage-logo.svg');
  display: block;
}

pl-leaderboard article {
  margin: 1.5vh 0;
  width: 100%;
}

pl-leaderboard article section {
  width: 100%;
  vertical-align: middle;
}

pl-leaderboard article section ul {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  list-style-type: none;
}


/*
  -----------------------
      leader titles
  -----------------------
*/

pl-leaderboard article section ul.leader-titles {
  margin-bottom: .8vh;
}

pl-leaderboard article section ul.leader-titles li {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: .5px;
  padding: 1vh 3.2% .2vh;
  opacity: .65;
}


/*
  -----------------------
       leaders list
  -----------------------
*/

pl-leaderboard article section ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  opacity: .85;
}

pl-leaderboard article section ul.leaders li {
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2% 3.5% 2%;
  height: 100%;
  background-color: #def1f6;
  border-bottom: 1px solid rgba(0,0,0,.5);
}

pl-leaderboard article section ul.leaders li:first-child {
  padding: 1% 3.5% 1%;
}

pl-leaderboard article section ul li .rank {
  width: 14%;
  max-width: 14%;
}

pl-leaderboard article section ul li .username {
  width: 68%;
  max-width: 68%;
  word-break: break-all;
}

pl-leaderboard article section ul li .score {
  width: 18%;
  max-width: 68%;
  text-align: right;
  /*word-break: break-all;*/
}

pl-leaderboard article section ul.leaders li .score {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

pl-leaderboard article section ul.leaders li:first-child .score::before {
  content:url('../../rh-icon-award-ribbon.svg');
}


/*
  -----------------------
      media queries
  -----------------------
*/

@media (min-width: 1024px) {

  pl-leaderboard article h1.leaders-header {
    max-width: 70vw;
  }

  pl-leaderboard article {
    margin: 0 auto;
    max-width: 70vw;
    max-height: 80vh;
  }
}


/*
  -----------------------
        animations
  -----------------------
*/

ul.leaders {
    -webkit-animation: listfade linear 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: listfade linear 1.5s; /* Firefox < 16 */
    -ms-animation: listfade linear 1.5s; /* Internet Explorer */
    -o-animation: listfade linear 1.5s; /* Opera < 12.1 */
    animation: listfade linear 1.5s;

    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Firefox < 16 */
@-moz-keyframes listfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes listfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes listfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes listfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes listfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}


// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(5000)}px #{random(5000)}px #FFF';

  @for $i from 2 through $n {
    $value: '#{$value} , #{random(5000)}px #{random(5000)}px #FFF';
  }

  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(3000);
$shadows-medium: multiple-box-shadow(1000);
$shadows-big:    multiple-box-shadow(500);

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 5000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}


#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 5000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 5000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
}



@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}


/*
  -----------------------
    rank color gradient
  -----------------------
*/

pl-leaderboard article section ul.leaders li:first-child   { background-color: #0088a3; }
pl-leaderboard article section ul.leaders li:nth-child(2)  { background-color: #01809a; }
pl-leaderboard article section ul.leaders li:nth-child(3)  { background-color: #01748c; }
pl-leaderboard article section ul.leaders li:nth-child(4)  { background-color: #00697e; }
pl-leaderboard article section ul.leaders li:nth-child(5)  { background-color: #016074; }
pl-leaderboard article section ul.leaders li:nth-child(6)  { background-color: #005668; }
pl-leaderboard article section ul.leaders li:nth-child(7)  { background-color: #005162; }
pl-leaderboard article section ul.leaders li:nth-child(8)  { background-color: #004a5a; }
pl-leaderboard article section ul.leaders li:nth-child(9)  { background-color: #004452; }
pl-leaderboard article section ul.leaders li:nth-child(10) { background-color: #003d4b; }
