@import "compass/reset";

/*
  -----------------------
       base styles
  -----------------------
*/

body {
  background: radial-gradient(ellipse at bottom, #0b1016 0%, #020304 100%);
  height: 100vh;
  font-size: 12px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

pl-leaderboard {
  font-family: 'Overpass', sans-serif;
  color: #e7f9fb;
  // color: rgba(250,232,232,.95);
  height: 100vh;
  position: relative;
  z-index: 2;
}


/*
  -----------------------
     position elements
  -----------------------
*/

pl-leaderboard {

  .leaders-header {
    text-align: center;
    margin: 2.5vh auto 1vh;
    width: 100%;
    line-height: 1.1em;
    word-wrap: normal;

    &:before {
      content:url('../../engage-logo.svg');
      display: block;
    }
  }

  article {
    margin: 1.5vh 0;
    max-height: 100vh;

    section {
      width: 100%;
      vertical-align: middle;

      ul {
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
        list-style-type: none;
      }
    }
  }
}


/*
  -----------------------
      leader titles
  -----------------------
*/

pl-leaderboard article section ul.leader-titles {
  margin-bottom: 1.5vh;
  padding-bottom: 1.5vh;
  border-bottom: 1px solid rgba(255, 255, 255, .15);

  li {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 1% 3.2% .2%;
    opacity: .65;
  }
}

pl-leaderboard article section ul.leader-titles li {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .5px;
  padding: 1vh 3.2% .2vh;
  opacity: .65;
}


/*
  -----------------------
       leaders list
  -----------------------
*/

pl-leaderboard article section ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  opacity: .85;

  .rank {
    width: 14%;
    max-width: 14%;
  }

  .username {
    width: 68%;
    max-width: 68%;
    word-break: break-all;
  }

  .score {
    width: 18%;
    max-width: 18%;
    text-align: right;
  }
}

pl-leaderboard article section ul.leaders li {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2% 3.5% 2%;
  height: 100%;
  background-color: #def1f6;
  border-bottom: 1px solid rgba(0,0,0,.5);

  &:first-child {
    padding: 1% 3.5% 1%;

    .score::before {
      content:url('../../rh-icon-award-ribbon.svg');
      margin-right: 5%;
    }
  }

  .score {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


/*
  -----------------------
      media queries
  -----------------------
*/

@media (min-width: 1024px) and (max-width: 1920px) {

  pl-leaderboard article h1.leaders-header {
    max-width: 75vw;
  }

  pl-leaderboard article {
    margin: 0 auto;
    max-width: 75vw;
    max-height: 80vh;
  }
}

@media (min-width: 1920px) {

  body {
    font-size: 16px;
  }

  pl-leaderboard article h1.leaders-header {
    max-width: 65vw;
  }

  pl-leaderboard article {
    margin: 0 auto;
    max-width: 65vw;
    max-height: 80vh;
  }
}


/*
  -----------------------
        animations
  -----------------------
*/

/* list fade animation */
ul.leaders {
    -webkit-animation: listfade linear 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: listfade linear 1.5s; /* Firefox < 16 */
    -ms-animation: listfade linear 1.5s; /* Internet Explorer */
    -o-animation: listfade linear 1.5s; /* Opera < 12.1 */
    animation: listfade linear 1.5s;

    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Firefox < 16 */
@-moz-keyframes listfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes listfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes listfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes listfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes listfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* star background animation */
@function multi-box-shadow ($n) {
  $value: '#{random(5000)}px #{random(5000)}px rgba(220,220,220,.8)';

  @for $i from 2 through $n {
    $value: '#{$value} , #{random(5000)}px #{random(5000)}px rgba(220,220,220,.8)';
  }

  @return unquote($value);
}

$shadow-sm: multi-box-shadow(3000);
$shadow-md: multi-box-shadow(1000);
$shadow-lg: multi-box-shadow(500);

#stars-1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadow-sm;
  animation: animateStars 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 5000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadow-sm;
  }
}


#stars-2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadow-md;
  animation: animateStars 120s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 5000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadow-md;
  }
}

#stars-3 {
  width: 2.5px;
  height: 2.5px;
  background: transparent;
  box-shadow: $shadow-lg;
  animation: animateStars 150s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 5000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadow-lg;
    }
}

@keyframes animateStars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5000px);
  }
}


/*
  -----------------------
    rank color gradient
  -----------------------
*/

pl-leaderboard article section ul.leaders li:first-child   { background-color: rgba(0,136,163,.8); }
pl-leaderboard article section ul.leaders li:nth-child(2)  { background-color: rgba(1,128,154,.8); }
pl-leaderboard article section ul.leaders li:nth-child(3)  { background-color: rgba(1,116,140,.8); }
pl-leaderboard article section ul.leaders li:nth-child(4)  { background-color: rgba(0,105,126,.8); }
pl-leaderboard article section ul.leaders li:nth-child(5)  { background-color: rgba(1,96,116,.8); }
pl-leaderboard article section ul.leaders li:nth-child(6)  { background-color: rgba(0,86,104,.8); }
pl-leaderboard article section ul.leaders li:nth-child(7)  { background-color: rgba(0,81,98,.8); }
pl-leaderboard article section ul.leaders li:nth-child(8)  { background-color: rgba(0,74,90,.8); }
pl-leaderboard article section ul.leaders li:nth-child(9)  { background-color: rgba(0,68,82,.8); }
pl-leaderboard article section ul.leaders li:nth-child(10) { background-color: rgba(0,61,75,.8); }
