@import "compass/reset";

$background-color:                rgba(1,2,2,1);
$background-color-blue:         rgba(1,18,27,1);
$color-grey:                   rgba(56,73,90,1);
$color-white:             rgba(252,250,249,.75);
$font-base:                                12px;
$font-base-lg:                             18px;
$font-heading:                            4.2em;
$font-table:                              1.7em;
$font-weight-light:                         500;
$font-weight-bold:                          800;
$font-weight-heavy:                         900;

/*
  -----------------------
       base styles
  -----------------------
*/

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-image: radial-gradient(75% 90% at top, $background-color-blue, #000e16 100%);
  background-color: $background-color;
  background-position: top center;
  overflow: hidden;
  font-family: 'Overpass', sans-serif;
  font-size: $font-base;
  font-weight: $font-weight-light;
  height: 100%;
  margin: 0;
}


pl-leaderboard {
  position: relative;
  height: 100%;
  z-index: 2;
  color: $color-white;

  .leaders-header {
    margin: 4.2% auto 5.8%;
    width: 40%;
    content: url('../../assets/logo.png');
  }

  article {
    margin: 0 auto;
    max-width: 70%;
    max-height: 85%;

    section {
      width: 100%;
      vertical-align: middle;

      ul {
        margin: 0 auto;
        padding: 0;
        max-width: 94%;
        list-style-type: none;
      }
    }
  }
}


/*
  -----------------------
       list styles
  -----------------------
*/

pl-leaderboard article section ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .rank {
    width: 12%;
    max-width: 12%;
  }

  .username {
    width: 64%;
    max-width: 64%;
    word-break: break-all;
    text-transform: lowercase;

    // &::before {
    //   content: "";
    //   margin-right: 5.5%;
    //   opacity: .12;
    //   color: black;
    // }
  }

  .score {
    width: 24%;
    max-width: 24%;
    text-align: right;
  }
}

ul.leaders li {
  border-bottom: 2px solid rgba(0,0,0,.3);
  font-size: $font-table;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  padding: 2.35% 2.55%;
  height: 100%;

  &:first-child {
    color: #5daa59; // or orange: f6c982;
    font-weight: $font-weight-heavy;
  }

  .rank {
    font-size: 1.1em; //increase the rank size for visibility
  }

  .rank:after {
    display: inline-block;
    content: "th";
    font-weight: $font-weight-light;
    text-transform: uppercase;
    font-size: .6em;
    vertical-align: top;
    line-height: 1em;
    margin: .15em 0 0 .2em;
  }

  &:nth-child(1) .rank:after {
    content: "st";
  }

  &:nth-child(2) .rank:after {
    content: "nd";
  }

  &:nth-child(3) .rank:after {
    content: "rd";
  }
}


/*
  -----------------------
        scaling
  -----------------------
*/

@media (min-width: 1920px) {

  body {
    font-size: $font-base-lg;
  }

  pl-leaderboard article {
    margin: 0 auto;
    max-width: 58%;
    max-height: 80%;
  }
}


/*
  -----------------------
      list gradient
  -----------------------
*/

pl-leaderboard article section ul.leaders li:first-child   { background-color: lighten(rgba(0,136,163,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(2)  { background-color: lighten(rgba(1,128,154,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(3)  { background-color: lighten(rgba(1,116,140,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(4)  { background-color: lighten(rgba(0,105,126,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(5)  { background-color: lighten(rgba(1,96,116,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(6)  { background-color: lighten(rgba(0,86,104,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(7)  { background-color: lighten(rgba(0,81,98,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(8)  { background-color: lighten(rgba(0,74,90,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(9)  { background-color: lighten(rgba(0,68,82,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(10) { background-color: lighten(rgba(0,61,75,.50), 10%); }

@import "animations.scss";
