@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Overpass:500,600,800,900);

$background-color:                rgba(1,2,2,1);
$background-color-blue:         rgba(1,18,27,1);
$color-grey:                   rgba(56,73,90,1);
$color-white:              rgba(252,250,249,.6);
$font-base:                                12px;
$font-base-lg:                             18px;
$font-heading:                            4.2em;
$font-table:                              1.7em;
// $font-titles:                             1.2em;
$font-weight-light:                         500;
$font-weight-bold:                          800;
$font-weight-heavy:                         900;

/*
  -----------------------
       base styles
  -----------------------
*/

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-image: radial-gradient(75% 90% at top, $background-color-blue, #000e16 100%);
  background-color: $background-color;
  background-position: top center;
  overflow: hidden;
  font-family: 'Overpass', sans-serif;
  font-size: $font-base;
  font-weight: $font-weight-light;
  height: 100%;
  margin: 0;
}


pl-leaderboard {
  position: relative;
  height: 100%;
  z-index: 2;
  color: $color-white;

  .leaders-header {
    margin: 4.3% auto 5.8%;
    width: 40%;
    content: url('../../assets/logo.png');
  }

  article {
    margin: 0 auto;
    max-width: 70%;
    max-height: 85%;

    section {
      width: 100%;
      vertical-align: middle;

      ul {
        margin: 0 auto;
        padding: 0;
        max-width: 94%;
        list-style-type: none;
      }
    }
  }
}


/*
  -----------------------
      leader titles
  -----------------------
*/

// ul.leader-titles {
//   margin-bottom: 1.5vh;
//   padding-bottom: .8vh; //flag - adjust padding/margin
//   border-bottom: 1px solid rgba(255, 255, 255, .2);
//   text-transform: uppercase;
//
//   li {
//     font-size: $font-titles;
//     font-weight: $font-weight-bold;
//     letter-spacing: .5px;
//     padding: 0 2% .5%;
//     opacity: .675;
//
//     .username::before {
//       content: "";
//     }
//   }
// }


/*
  -----------------------
       list styles
  -----------------------
*/

pl-leaderboard article section ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .rank {
    width: 9%;
    max-width: 9%;
  }

  .username {
    width: 65%;
    max-width: 65%;
    word-break: break-all;
    text-transform: lowercase;

    &::before {
      content: "|";
      margin-right: 5.5%;
      text-shadow: none;
      opacity: .12;
    }
  }

  .score {
    width: 26%;
    max-width: 26%;
    text-align: right;
  }
}

ul.leaders li {
  background-color: rgba(0,61,75,.8);
  border-bottom: 2px solid rgba(0,0,0,.4);
  font-size: $font-table;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  padding: 2.4% 2.55% 2.4%;
  height: 100%;

  &:first-child {
    color: #5db358; // or orange: f6c982;
    font-weight: $font-weight-heavy;
  }
}


/*
  -----------------------
        scaling
  -----------------------
*/

@media (min-width: 1920px) {

  body {
    font-size: $font-base-lg;
  }

  pl-leaderboard article {
    margin: 0 auto;
    max-width: 60%;
    max-height: 80%;
  }
}


/*
  -----------------------
      list gradient
  -----------------------
*/

pl-leaderboard article section ul.leaders li:first-child   { background-color: lighten(rgba(0,136,163,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(2)  { background-color: lighten(rgba(1,128,154,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(3)  { background-color: lighten(rgba(1,116,140,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(4)  { background-color: lighten(rgba(0,105,126,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(5)  { background-color: lighten(rgba(1,96,116,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(6)  { background-color: lighten(rgba(0,86,104,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(7)  { background-color: lighten(rgba(0,81,98,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(8)  { background-color: lighten(rgba(0,74,90,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(9)  { background-color: lighten(rgba(0,68,82,.50), 10%); }
pl-leaderboard article section ul.leaders li:nth-child(10) { background-color: lighten(rgba(0,61,75,.50), 10%); }

@import "animations.scss";
